

 <!-- <div>this is test</div>
 <div>
<app-my-component></app-my-component>
 </div>  -->
 
<!-- <app-onewaydatabind></app-onewaydatabind>   -->
<!-- <app-warning-alert></app-warning-alert> -->
<!-- <app-success-alert></app-success-alert> -->

<!-- <div>
    <input type="text"  [(ngModel)]="lastName"> 
  </div>
  <div>
    {{lastName}}
  </div> -->


  <!-- <div style="text-align: center;">
    <app-attridir></app-attridir>
  </div> -->


  <!-- <app-strucdir></app-strucdir> -->
   <!-- <app-parent-component></app-parent-component> -->
  <!-- <app-product-component></app-product-component> -->
<!-- <app-struct-assign></app-struct-assign> -->
<!-- <button type="button" class="btn btn-success">Success</button> -->

<!-- <div style="text-align: center;">
  <p>This is noraml para</p>
  <p appCustom>This is custom para</p>
</div> -->
<!-- <div style="text-align: center;"> -->
  <!-- <app-child [gettingData]="parentData"></app-child>   aliseName--> 
  <!-- <app-child [inputData]="parentData" (myEvent)="handleEvent($event)"></app-child>
</div> -->
<!-- app.component.html -->

<!-- <app-child-assign [employee]="employee"></app-child-assign> -->

<!-- <app-country-state></app-country-state> -->
 <!-- <app-simpleform></app-simpleform> -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
 <!-- <app-databinding></app-databinding> -->
  <!-- <app-reactiveform></app-reactiveform> -->
   <!-- <app-tdf-assign></app-tdf-assign> -->
   <!-- <h2>Data from Server</h2>
   <table width="100%" border="1" cellpadding="8" cellspacing="0">
     <thead>
       <tr>
         <th>ID</th>
         <th>Title</th>
         <th>Body</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let record of records">
         <td>{{ record.id }}</td>
         <td>{{ record.title }}</td>
         <td>{{ record.body }}</td>
       </tr>
     </tbody>
   </table> -->
   

    <!-- <app-reactive-assign></app-reactive-assign> -->
     <!-- <app-todo-list></app-todo-list> -->
     <header>
      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
          <a routerLinkActive="active myclass" [routerLinkActiveOptions]="{exact:true}" routerLink="home" class="nav-link">Home</a>  
          </li>

          <li class="nav-item">
            <a routerLinkActive="active myclass" routerLink="product" class="nav-link">Product</a>  
            </li>
            
          <li class="nav-item">
            <a routerLinkActive="active myclass" routerLink="cart" class="nav-link">Cart</a>  
            </li>
            <li class="nav-item">
              <a routerLinkActive="active myclass" routerLink="checkout" class="nav-link">CheckOut</a>  
              </li>

              <li class="nav-item">
                <a routerLinkActive="active myclass" routerLink="fashion" class="nav-link">Fashion</a>  
                </li>
                
              <li class="nav-item">
                <a routerLinkActive="active myclass" routerLink="mobile" class="nav-link">Mobile</a>  
                </li>
                <li class="nav-item">
                  <a routerLinkActive="active myclass" routerLink="electronic" class="nav-link">Electronic</a>  
                  </li>
              
          <li class="nav-item">
            <a routerLinkActive="active myclass" routerLink="aboutus" class="nav-link">AboutUs</a>  
            </li>
            <li class="nav-item">
              <a routerLinkActive="active myclass" routerLink="contactus" class="nav-link">ContactUs</a>  
            </li>
            
            <li class="nav-item">
              <a routerLinkActive="active myclass" routerLink="todos" class="nav-link">ToDos</a>  
            </li>
            <li class="nav-item">
              <a routerLinkActive="active myclass" routerLink="ecommerce" class="nav-link">eCommerce</a>  
            </li>
            <li class="nav-item">
              <a routerLinkActive="active myclass" routerLink="rxjs" class="nav-link">RxJS</a>  
            </li>
            <li class="nav-item">
              <a routerLinkActive="active myclass" routerLink="weather" class="nav-link">WeatherInfo</a>  
            </li>
            <li class="nav-item">
              <a routerLinkActive="active myclass" routerLink="wiki-search" class="nav-link">Wiki</a>  
            </li>
        </ul>
      </nav>
    </header>
<!-- 
    <div>
      <input type="text" [(ngModel)]="parentData">
      <app-hooks *ngIf="isDestroy" [childData]="parentData">
        <p #projectedContent>This is some projected content</p>
      </app-hooks>
    </div>  -->

<!-- <div class="row">
  <div class="col-md-6">
    <app-chat1></app-chat1>
  </div>
  <div class="col-md-6">
    <app-chat2></app-chat2>
  </div>
</div> -->

    <!-- <app-product-list></app-product-list> -->
    <!-- <app-random-userapi></app-random-userapi> -->
    <!-- <button (click)="OnDestroy()" >Remove Component</button> -->
<router-outlet></router-outlet>
